/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 12:04:24 AM
    Author     : Jake
*/

$negro: black;
$blanco: white;
$gris: gray;
