/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/12/2018, 07:30:28 PM
    Author     : Jake
*/
/*    background-image: url("../assets/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;*/
html {
  height: 100%;
  box-sizing: border-box;
  font-size: $base-text-size;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    @include backgrond-image-fixed($fondo-body);
}

header {
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: em(103px);
  z-index: 99;
}

main {
  padding-top: em(109px);
  padding-bottom: em(86px);
}

footer {
  background-color: $negro;
  border-top: 6px solid #1d1a18;
  color: $blanco;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: em(80px);
  z-index: 98;
}