.list-group-item {
    user-select: none;
  }
  .text-center {
      text-align: center;
  }
  
  .no-display{
      display: none;
  }

.list-group {
    & input[type="checkbox"] {
        display: none;
    }

    & input[type="checkbox"] + .list-group-item {
        cursor: pointer;
    }

    & input[type="checkbox"] + .list-group-item:before {
        content: "\2713";
        color: transparent;
        font-weight: bold;
        margin-right: 1em;
    }

    & input[type="checkbox"]:checked + .list-group-item {
        background-color: #b9bbbe;
        color: #FFF;
    }

    & input[type="checkbox"]:checked + .list-group-item:before {
        color: inherit;
    }
}
